<app-side-menu titulo="Perfil"></app-side-menu>

<ion-content color="medium">
    <ion-card
        class="card-center"
        color="tertiary"
    >
        <ion-card-content color="tertiary">
            <ion-item>
                <ion-img
                    class="horizontal-center margin-5"
                    src="assets/images/perfil.png"
                ></ion-img>
            </ion-item>
            <ion-list>
                <form [formGroup]="form">
                    <ion-item>
                        <ion-item>
                            <ion-label>Nome</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-input
                                [disabled]="!editarOn"
                                class="input-font-large"
                                formControlName="nome"
                            ></ion-input>
                        </ion-item>
                    </ion-item>
                    <ion-item>
                        <ion-item>
                            <ion-label>Email</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-input
                                [disabled]='!editarOn'
                                class="input-font-large"
                                formControlName="email"
                            ></ion-input>
                        </ion-item>
                    </ion-item>

                    <ion-item>
                        <ion-item>
                            <ion-label>Senha</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-input
                                [disabled]="!editarOn"
                                (click)='mostraSenha()'
                                class="input-font-large"
                                [type]="campoSenha"
                                formControlName="senha"
                                placeholder="Alterar Senha"
                            ></ion-input>
                        </ion-item>
                    </ion-item>
                    <ion-button
                        class="margin-5"
                        (click)='editarInfos()'
                        expand="block"
                        color="secondary"
                    >
                        {{ editarButtonText }}
                    </ion-button>
                </form>

            </ion-list>

        </ion-card-content>
    </ion-card>
</ion-content>
