<ion-header>
  <ion-toolbar>
    <ion-menu-toggle>
      <ion-icon name="menu"></ion-icon>
    </ion-menu-toggle>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="medium">
  <ion-card>
  <ion-list >

    <ion-item routerLink="/matricular" >
        <ion-text>Matricular em uma materia</ion-text>
    </ion-item>

    <ion-item routerLink="/minhas-materias">
        <ion-text>Minhas matérias</ion-text>
    </ion-item>

  <ion-item routerLink="/materias-materia" >
      <ion-text> Aula agora</ion-text>
  </ion-item>

    <ion-item routerLink="/reservar-lab">
      <ion-text>Reservar Lab (prof)</ion-text>
    </ion-item>

  <ion-item routerLink="/cadastrar-novo-usuario">
      <ion-text> Cadastrar novo usuario (adm)</ion-text>
  </ion-item>


    <ion-item routerLink="/gerenciar-usuarios">
      <ion-text> Gerenciar usuários (adm)</ion-text>
    </ion-item>


    <ion-item routerLink="/cadastrar-lab">
      <ion-text> Cadastrar Labs (adm)</ion-text>
    </ion-item>

    <ion-item routerLink="/gerenciar-lab">
      <ion-text> Gerenciar Labs (adm)</ion-text>
    </ion-item>

    <ion-item routerLink="/cadastrar-materia">
      <ion-text> Cadastrar Materias (adm)</ion-text>
    </ion-item>

    <ion-item routerLink="/gerenciar-materia">
      <ion-text> Gerenciar Materias (adm)</ion-text>
    </ion-item>

    <ion-item routerLink="/gerenciar-materia">
      <ion-text> Sair</ion-text>
    </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
