<ion-card  class="blue-border">
    <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-icon size="large"  name="laptop"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-text>Numero: {{ this.lab.numero}}</ion-text>
        </ion-item>
        <ion-item>
            <ion-text>Capacidade: {{ this.lab.capacidade}}</ion-text>
        </ion-item>
      <ion-item>
      <ion-button color="secondary" size="large" *ngIf="showReservas" (click)="reservasOn()" size="small">Fechar reservas dessa lab</ion-button>
      <ion-button color="secondary" size="large" *ngIf="!showReservas" (click)="reservasOn()"  size="small">Ver reservas nesse lab</ion-button>
      </ion-item><span hidden></span>
      <ion-item>
          </ion-item>
        </ion-list>
        
    </ion-card-content>
  </ion-card>
  
