<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="vertical-center">
      <ion-card-content >
          <form >
              <ion-label>Email
                  <ion-input placeholder="Email" size="large" type="email"></ion-input>
              </ion-label>
            <ion-label>Senha
                <ion-input placeholder="Senha" size="large" type="password"></ion-input>
            </ion-label>
            <ion-button type="submit"  color="success" expand="block" size="large" >Logar</ion-button>
          </form>
          <ion-button  color="medium" fill="outline" size="small" expand="block" id="botao-cadastro"  routerLink="/home" >Não tem Cadastro? Cadastre-se!</ion-button>
      </ion-card-content>
    </ion-card>
</ion-content>


