<app-side-menu titulo="Reservar Lab"></app-side-menu>

<ion-content color="medium">
    <ion-card>
        <ion-item>
            <ion-icon name="calendar"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-card-content>
                <ion-list>
                    <ion-title>
                        <h1>Reserve um Lab Por:</h1>
                    </ion-title>
                    <ion-item>
                        <ion-segment
                            value="dia"
                            color="primary"
                        >
                            <ion-segment-button
                                value="dia"
                                [routerLink]="['/reservar-lab/dia']"
                            >
                                <ion-label>Dia</ion-label>
                            </ion-segment-button>
                            <ion-segment-button
                                value="mes"
                                [routerLink]="['/reservar-lab/mes']"
                            >
                                <ion-label>Mês</ion-label>
                            </ion-segment-button>
                        </ion-segment>
                    </ion-item>
                </ion-list>
                <router-outlet></router-outlet>
            </ion-card-content>
        </ion-item>
    </ion-card>
</ion-content>
