<app-side-menu titulo="Reservar Lab"></app-side-menu>

<ion-content color="medium">
    <ion-card>
        <ion-item>
            <ion-card-header>
                <h3>Reserve um Lab Por:</h3>
            </ion-card-header>
        </ion-item>
        <ion-item>
            <ion-card-content>
                <ion-item>
                    <ion-button [routerLink]="['/reservar-lab/dia']">Dia</ion-button>
                    <ion-button [routerLink]="['/reservar-lab/mes']">Mes</ion-button>
                    <ion-button [routerLink]="['/reservar-lab/dia']">Semestre</ion-button>
                </ion-item>
                <router-outlet></router-outlet>
            </ion-card-content>
        </ion-item>
    </ion-card>
</ion-content>
