<ion-card class="blue-border">
    <ion-card-content>
        <ion-list>
            <ion-item>
                <ion-icon
                    size="large"
                    name="bookmarks"
                ></ion-icon>
            </ion-item>

            <form [formGroup]="form">
                <ion-item>
                    <ion-label position="staked">Nome:</ion-label>
                    <ion-input
                        [readonly]="!admin"
                        [disabled]="!editarOn && admin"
                        formControlName="nome"
                    ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="staked">Professor:</ion-label>
                    <ion-text *ngIf="!admin;else selectProf">{{ materia.professor ? materia.professor.usuario.nome: "Professor não definido" }}</ion-text>
                    <ng-template #selectProf>
                        <ion-select
                            [value]="this.materia.professor? this.materia.professor.id :0"
                            (ionChange)="trocaProf($event)"
                            [disabled]="!editarOn && admin"
                            >
                            <ion-select-option [value]="0">não preenchido</ion-select-option>
                            <ion-select-option
                                [value]="prof.id"
                                *ngFor="let prof of professores"
                            >
                                {{ prof.usuario.nome }}
                            </ion-select-option>
                        </ion-select>
                    </ng-template>
                </ion-item>
                <ion-item>
                    <ion-label position="staked">Turma:</ion-label>
                    <ion-input
                        [disabled]="!editarOn && admin"
                        formControlName="turma"
                        [readonly]="!admin"
                    ></ion-input>
                </ion-item>
                <ion-button
                    (click)='editarInfos()'
                    expand="block"
                    color="primary"
                    *ngIf="admin"
                >
                    {{ editarButtonText }}
                </ion-button>
            </form>
            <ion-button
                color="secondary"
                expand="block"
                *ngIf="showReservas"
                (click)="reservasOn()"
            >
                Fechar reservas dessa materia
            </ion-button>
            <ion-button
                color="secondary"
                expand="block"
                *ngIf="!showReservas"
                (click)="reservasOn()"
            >
                Ver reservas nesse materia
            </ion-button>
            <ion-item>
                <app-reservas
                    [admin]="false"
                    [id]="materia.id"
                    *ngIf="showReservas"
                ></app-reservas>
            </ion-item>

            <ion-button
                color="danger"
                expand="block"
                (click)="remove(materia.id)"
                *ngIf="admin"
            >
                Excluir Materia
            </ion-button>
        </ion-list>

    </ion-card-content>
</ion-card>
