<ion-card  class="blue-border">
  <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon size="large" name="bookmarks"></ion-icon>
      </ion-item>
      <ion-item>
          <ion-text>Nome: {{ this.materia.nome}}</ion-text>
      </ion-item>
      <ion-item>
          <ion-text>Professor: {{(this.materia.professor == null)? 'Sem professor': this.materia.professor.nome }} </ion-text>
      </ion-item>
    <ion-item>
    <ion-button color="secondary" size="large" *ngIf="showReservas" (click)="reservasOn()" size="small">Fechar reservas dessa materia</ion-button>
    <ion-button color="secondary" size="large" *ngIf="!showReservas" (click)="reservasOn()"  size="small">Ver reservas nesse materia</ion-button>
    </ion-item><span hidden></span>
    <ion-item>
            <app-reservas [admin]="false" [id]="materia.id" *ngIf="showReservas"></app-reservas>
        </ion-item>
      </ion-list>
      
  </ion-card-content>
</ion-card>
