<app-side-menu titulo="Cadastre uma Matéria"></app-side-menu>

<ion-content color="medium">
  <ion-card>
    <ion-item>
      <ion-card-title><h3>Cadastre uma nova materia no sistema</h3></ion-card-title>
    </ion-item>
    <ion-item>
      <form>
        <ion-item>
          <ion-label [(ngModel)]="nomeMateria" position="floating">Entre com o nome da matéria</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="nomeMateria">
          <ion-button>Cadastar</ion-button>
        </ion-item>
      </form>
    </ion-item>
  </ion-card>
</ion-content>
