<ion-card>
  <ion-card-content style="background-color: light">
    <ion-list>
      <ion-item>
          <ion-text color="primary">
            <h1>Reservas</h1>
          </ion-text>
      </ion-item>
      <ion-item *ngIf="reservas.length==0">
        <ion-text> <h2>Não há Reservas realizadas</h2></ion-text>
      </ion-item>
      <ng-container *ngFor="let item of reservas">
            <ion-list>
                <ion-item>
                  <ion-item>
                    <ion-label position="stacked">Matéria: </ion-label>
                    <ion-text>   {{ item.materia.nome}}</ion-text> 
                  </ion-item>

                  <ion-item>
                      <ion-label position="stacked">Dia: </ion-label>
                      <ion-text>{{item.dia.getMonth()}}/{{ item.dia.getDay()}}</ion-text>
                  </ion-item>
                </ion-item>
                <ion-item>

                    <ion-item>
                        <ion-label position="stacked">horario Inicial: </ion-label>
                        <ion-text>{{ item.horarioComeco.getHours()}}:{{item.horarioComeco.getMinutes()}}</ion-text>
                      </ion-item> 
                      <ion-item>
                          <ion-label position="stacked">horario Final: </ion-label>
                          <ion-text>{{ item.horarioFim.getHours()}}:{{item.horarioFim.getMinutes()}}</ion-text>
                        </ion-item>   
                </ion-item>
         
              <ion-item *ngIf="admin">
                <ion-item>
                    <ion-label position="stacked">Professor:</ion-label>
                    <ion-text>{{item.materia.professor.nome}}</ion-text>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Lab: </ion-label>
                  <ion-text>{{item.lab.numero}}</ion-text>            
                </ion-item>
                <ion-button color="danger" (click)="excluirReserva(item.id)" >Excluir</ion-button>
              </ion-item>
              </ion-list>
              
              <ion-item-divider>
            

              </ion-item-divider>
      </ng-container>
    </ion-list>
  </ion-card-content>
</ion-card>
