<ion-header >
  <ion-toolbar>
    <ion-title color="primary" >
      FatLab
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content   color="medium" >

  <ion-img src="./../assets/images/logo.png"></ion-img>
  
  <ion-card>
    <ion-card-content>
        <ion-item-group>
          
            <ion-button size="large" expand="block"   color="primary" routerLink="/login">
              Login
           </ion-button>
  
            <ion-button size="large" expand="block" color="success" routerLink="/cadastro">
            Cadastre-se
           </ion-button>
        </ion-item-group>
      
        
    </ion-card-content>
  </ion-card>

</ion-content>
                 
